.background-container {
  position: fixed;
  height: 324px;
  width: 6400px;
  transform-origin: left top;
  z-index: -1000;
  overflow: hidden;

  &.home {
    > .layer {
      position: fixed;
      background-repeat: repeat;
      height: 100%;
      animation: parallax 600s linear infinite;

      &.fore {
        width: 1200%;
      }
      &.middle {
        width: 300%;
      }
      &.back {
        width: 100%;
      }
    }
  }
}

@keyframes parallax {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX( -50% );
  }
}

