@use 'animations';

.background-container {
  position: fixed;
  height: 324px;
  width: 6400px;
  transform-origin: left top;
  z-index: -1000;

  > .layer {
    transform-origin: left top;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
  }

  &.home .layer, &.loading .layer {
    &.one {
      animation: horizontal 900s linear infinite;
    }
    &.two {
      animation: horizontal 200s linear infinite;
    }
    &.three {
      animation: horizontal 50s linear infinite;
    }
  }

  &.table .layer {
    &.one {
      animation: horizontal 90s linear infinite;
    }
    &.two {
      animation: vertical 45s linear infinite;
    }
    &.three {
      animation: vertical 45s linear infinite reverse;
    }
    &.four {
      animation: horizontal 90s linear infinite reverse;
    }
    &.five {
      animation: horizontal 45s linear infinite;
    }
  }

  &.postgame .layer {
    &.one {
      animation: diagonal-one 2000s linear infinite reverse;
    }
    &.two {
      animation: horizontal 1000s linear infinite;
    }
    &.three {
      animation: diagonal-two 1500s linear infinite;
    }
    &.four {
      animation: diagonal-two 300s linear infinite;
    }
  }
}

