.credits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em;
  opacity: 0.9;
  padding: 1em;

  div {
    a {
      margin: 0.5em;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-decoration: none;
      color: #ffffff;
    }

    &:nth-of-type(2)>a {
      font-size: 1.5em;
    }
  }
}
