body {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/008/249/825/original/water-cycle-process-4k-animation-with-a-pond-and-blue-sky-evaporation-condensation-and-precipitation-process-infographic-diagram-4k-footage-green-field-with-bushes-for-water-evaporation-animation-free-video.jpg");
  background-size: cover;
}
main {
  display: flex;
  width: 90vw;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: 5%;
}

.hero {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
  width: 50%;
  .title {
    font-family: 'Nabla', cursive;
    font-size: 82px;
    font-weight: bold;
    text-align: center;
    margin: 0 0;
  }
  .instructions {
    background-color: skyblue;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    width: 70%;
    color: black;
    h1 {
      font-size: 40px;
    }
    h3 {
      font-size: 25px;
    }
  }
  .logo {
    height: 50%;
    width: 50%;
    img {
      height: 100%;
      width: 100%;
    }
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
// Import Bootstrap SCSS variables and mixins if not already imported
// @import "~bootstrap/scss/_variables";
// @import "~bootstrap/scss/mixins";

.leaderboard-and-form {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 1%;
}

.leaderboard {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  h1 {
    font-size: 40px;
    padding: 5px 20px;
    margin: 0 0;
  }

  .leaderboard-table {
    width: 100%;
    max-height: 300px;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 30px;
    border: solid 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
    overflow: hidden;

    th {
      background-color: skyblue;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    td {
      padding: 10px;
      text-align: center;

      &:nth-child(1) {
        width: 15%;
      }

      &:nth-child(2) {
        width: 60%;
      }

      &:nth-child(3) {
        width: 25%;
      }
    }

    .leaderboard-body {
      tr:nth-child(odd) {
        background-color: lightcyan;
      }

      tr:nth-child(even) {
        background-color: #ffffff;
      }

      td {
        &:first-child {
          font-weight: bold;
        }
      }
    }
  }
}

.playername-form {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1%;
  align-items: center;
  margin-top: 20px;

  label {
    font-size: 35px;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    color: black;
  }

  input {
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
  }

  button {
    font-size: 30px;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    background-color: #bada55;
    color: #fff;
    cursor: pointer;
  }
}

.player-name-form {
  border: thin solid black;
}

