.background-container {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  background-size: cover;
  z-index: -4;
  animation: parallax 120s linear infinite;
  transform: translateX(0);
}


@keyframes parallax {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + 100vw));
  }
}

.background-container.sky {
  background-image: url('${backgrounds.Home[0]}');
}

.background-container.mountain {
  background-image: url('${backgrounds.Home[1]}');
  z-index: -1;
  animation-duration: 40s;
}

.background-container.clouds {
  background-image: url('${backgrounds.Home[2]}');
  z-index: -1;
  animation-duration: 10s;
}

