
div.leaderboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65%;

  header {
      font-size: max(3vh, 3vw);
      font-weight: 700;
      padding: 0.5em 0;
  }

  section {
    display: flex;
    flex-direction: column;
    max-height: 90%;
    width: 80%;
    font-size: max(1.5vh, 1.5vw);
    border-radius: 1em;
    overflow: hidden;

    div {
      display: grid;
      grid-template-columns: 20% 60% 20%;
      color: black;

      span {
        text-align: center;
        margin: 0.5em 0;
      }

      &:nth-child(even) {
        background-color: rgb(233, 203, 255);
      }

      &:nth-child(odd) {
        background-color: rgb(240, 240, 240);
      }

      &.player-list {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
      }

      &.player-list-header {
        color: white;
        font-weight: bold;;
        background-color: rgba(189, 127, 239);
      }
    }
  }
}
