@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/Mark Simonson - Proxima Nova Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
  font-size: 16px;
}

.sprite-container {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  overflow: hidden;
}

.sprite-animation {
  width: 100%;
  height: 100%;
  background-image: url('/wallpaper/duck_2_sprite.png');
  background-size: auto 100%;
  animation-name: animateSprite;
  animation-duration: 4s;
  animation-timing-function: steps(6);
  animation-iteration-count: infinite;
  white-space: nowrap;
}

@keyframes animateSprite {
  0% {
    background-position: -600px 0;
  }
  100% {
    background-position: 0 0;
  }
}

.loading-message {
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3vw;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  z-index: 2;
}

.instructions {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);

  font-size: 2vw;
  white-space: nowrap;
  z-index: 2;
  color: #A8B0FA;

  border-radius: 20px;
}

.loading-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.background-container {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-size: cover;
  z-index: -4;
  animation: parallax 120s linear infinite;
  transform: translateX(0);
}

@keyframes parallax {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + 100vw));
  }
}

.background-container.sky-loading {

}

.background-container.mountain-loading {
  z-index: -3;
  animation-duration: 40s;
}

.background-container.clouds-loading {
  z-index: 0;
  animation-duration: 10s;
}
