section.player-detail-panel {
  display: grid;
  grid-template-rows: 1fr auto auto;
  text-align: center;
  max-height: 30vh;
  max-width: 30vw;
  border-radius: 1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 5vh 5vw;
  padding: max(1vh, 1vw);

  span:nth-of-type(1) {
    font-size: max(2vh, 2vw);
  }

  span:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-left: 2vw;
    font-size: min(8vh, 8vw);

    img {
      opacity: 0.7;

      height: min(6vh, 6vw);
    }
  }

  button {
    display: flex;
    justify-self: center;
    align-items: center;
    font-family: 'proxima nova', sans-serif;
    font-size: max(1.5vh, 1.5vw);
    padding: 0.2em 0.5em;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgb(189, 127, 239, 0.8);
    border-radius: 20px;
  }

  @keyframes shake {
    0% {
      transform: translate(0, 0);
    }

    10% {
      transform: translate(-2px, -2px);
    }

    20% {
      transform: translate(2px, -2px);
    }

    30% {
      transform: translate(-2px, 2px);
    }

    40% {
      transform: translate(2px, 2px);
    }

    50% {
      transform: translate(-2px, -2px);
    }

    60% {
      transform: translate(2px, -2px);
    }

    70% {
      transform: translate(-2px, 2px);
    }

    80% {
      transform: translate(2px, 2px);
    }

    90% {
      transform: translate(-2px, -2px);
    }

    100% {
      transform: translate(0, 0);
    }
  }


  &.top-left {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    align-self: start;
    background-color: rgba(246, 213, 95, 0.8);
    border: 0.2em solid rgb(93, 193, 215, 0.8);

    button {
      border: 0.1em solid rgba(142, 68, 173, 0.8);

      &:last-child.ready {
        background-color: rgb(93, 193, 215, 0.8);
        border: 0.1em solid rgb(189, 127, 239, 0.8);
      }

      &:hover {
        background-color: rgb(93, 193, 215, 0.8);
        animation: shake 0.5s ease-in-out;
      }
    }
  }

  &.top-right {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    align-self: start;
    background-color: rgba(142, 68, 173, 0.8);
    border: 0.2em solid rgb(189, 127, 239, 0.8);

    button {
      border: 0.1em solid rgba(246, 213, 95, 0.8);
      background-color: rgb(93, 193, 215, 0.8);

      &:last-child.ready {
        background-color: rgba(246, 213, 95, 0.8);
        border: 0.1em solid rgb(93, 193, 215, 0.8);
      }

      &:hover {
        background-color: rgb(189, 127, 239, 0.8);
        animation: shake 0.5s ease-in-out;
      }
    }
  }

  &.bottom-left {
    grid-column: 1;
    grid-row: 3;
    justify-self: start;
    align-self: end;
    background-color: rgb(189, 127, 239, 0.8);
    border: 0.2em solid rgba(142, 68, 173, 0.8);

    button {
      border: 0.1em solid rgb(93, 193, 215, 0.8);
      background-color: rgba(246, 213, 95, 0.8);

      &:last-child.ready {
        background-color: rgb(93, 193, 215, 0.8);
        border: 0.1em solid rgba(142, 68, 173, 0.8);
      }

      &:hover {
        background-color: rgba(142, 68, 173, 0.8);
        animation: shake 0.5s ease-in-out;
      }
    }
  }

  &.bottom-right {
    grid-column: 3;
    grid-row: 3;
    justify-self: end;
    align-self: end;
    background-color: rgb(93, 193, 215, 0.8);
    border: 0.2em solid rgba(246, 213, 95, 0.8);

    button {
      border: 0.1em solid rgb(189, 127, 239, 0.8);
      background-color: rgba(142, 68, 173, 0.8);

      &:last-child.ready {
        background-color: rgba(246, 213, 95, 0.8);
        border: 0.1em solid rgba(142, 68, 173, 0.8);
      }

      &:hover {
        background-color: rgb(189, 127, 239, 0.8);
        border: 0.1em solid rgba(142, 68, 173, 0.8);
        animation: shake 0.5s ease-in-out;
      }
    }
  }
}
