main.postgame {
  display: flex;
  flex-direction: column;
  height: 100vh;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    header {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: max(5vh, 5vw);
      animation: glow 2s infinite;
      color: white;
      margin-bottom: 5vh;
      text-shadow: 0 0 5px rgba(252, 0, 255), 0 0 10px rgba(252, 0, 255), 0 0 15px rgba(252, 0, 255);
    }

    div {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      font-family: 'proxima nova', sans-serif;
      font-size: max(1.5vh, 1.5vw);
      color: #ffffff;
      text-shadow: 0.5em 0.5em 4em rgb(0, 0, 0);
      width: 80%;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8vh;
        margin: 0.2vh;
        border-radius: 50px;
        background: rgb(118, 60, 181, 0.5);
        border: 2px solid rgb(189, 127, 239, 0.7);
        border-color: rgb(189, 127, 239, 0.7);
      }



      &:nth-of-type(1) {

        span {
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-weight: 700;
          border: none;
          background: rgb(118, 60, 181);
        }
      }

      &:nth-of-type(2) {
        font-size: max(2vh, 2vw);
        text-shadow: 0 0 5px rgba(252, 0, 255), 0 0 10px rgba(252, 0, 255), 0 0 15px rgba(252, 0, 255);
        animation: glow 2s infinite;
      }
    }
  }

  nav {
    display: flex;
    justify-content: center;
    margin: 5vh 0;

    button{
      background-color: rgb(241, 189, 0);
      font-size: max(1.5vh, 1.5vw);
      color: white;
      border: none;
      border-radius: 50px;
      padding: 1vh 0;
      margin: 0 min(5vh, 5vw);
      width: 8em;
      cursor: pointer;
      box-shadow: inset -8em 0 0 0 rgb(93, 193, 215);
      transition: box-shadow ease-out 0.2s;

      &:hover {
        box-shadow: inset 0 0 0 0 rgb(93, 193, 215);
      }
    }
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px rgba(252, 0, 255), 0 0 10px rgba(252, 0, 255), 0 0 15px rgba(252, 0, 255);
  }
  50% {
    text-shadow: 0 0 5px rgba(0, 219, 222), 0 0 10px rgba(0, 219, 222), 0 0 15px rgba(0, 219, 222)
  }
}



// body {
//   position: relative;
//   overflow: hidden;
// }

// .main-menu-button1,
// .play-again-button {
//   position: relative;
//   font-family: 'proxima nova', sans-serif;
//   height: 40px;
//   padding: 0 33px;
//   font-size: 20px;
//   background: #5dc1d7;
//   color: #ffffff;
//   border: none;
//   border-radius: 50px;
//   cursor: pointer;
//   margin: 20px;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   text-decoration: none;
//   letter-spacing: 1px;
//   outline: none;
//   overflow: hidden;
//   z-index: 1;
// }

// .main-menu-button1::before,
// .play-again-button::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 0;
//   height: 100%;
//   background: #f1bd00;
//   border-radius: 50px;
//   opacity: 1;
//   transition: width 0.3s ease;
//   z-index: -1;
// }

// .main-menu-button1:hover::before,
// .play-again-button:hover::before {
//   width: 100%;
// }

// div.audiobutton {
//   width: 0;
//   height: 0;
//   position: absolute;
//   top: -50px;
//   right: -50px;
//   z-index: 1;
// }

// .audio-player-container * {
//   width: 0px;
//   height: 0px;
//   position: absolute;
//   top: 25px;
//   right: 40;
//   z-index: 1;
// }
