.background {
  position: fixed;
  width: 50vw;
  height: 50vh;

}

.background__green {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(142, 68, 173, 0.3);
  background-size: 200%;
  overflow: hidden;
}

.background__red {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(93, 193, 215, 0.3);
  background-size: auto 100%;
  overflow: hidden;
}

.background__red::before,
.background__red::after,
.background__red::before,
.background__red::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.background__red::before {
  background-image: url('/videos/topmovingblock.png');
  animation: parallax-red-1 25s linear infinite;
  background-size: 150%;
  background-position: top;
  z-index: 2;
  opacity: 0.8;
}

.background__red::after {
  background-image: url('/videos/rightmovingblock.png');
  animation: parallax-red-2 0.3s linear infinite;
  background-size:80%;
  background-position: right;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  z-index: 7;
  opacity: 0.8;
}

@keyframes parallax-red-1 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes parallax-red-2 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(4%)
  }
}

.background__blue {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(241, 189, 0, 0.3);
  background-size: auto 100%;
  overflow: hidden;
}

.background__blue::before,
.background__blue::after,
.background__blue::before,
.background__blue::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.background__blue::before {
  background-image: url('/videos/leftmovingblock.png');
  animation: parallax-blue-1 0.3s linear infinite;
  background-size: 9%;
  opacity: 0.8;


}

.background__blue::after {
  animation: parallax-blue-2 0.5s linear infinite;
  background-size: cover;
  background-position: right;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
}

@keyframes parallax-blue-1 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-2%);
  }
}

.background__yellow {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgb(189, 127, 239, 0.3);
  background-size: auto 100%;
  overflow: hidden;
  opacity: 0.8;
}

.background__yellow::before,
.background__yellow::after,
.background__yellow::before,
.background__yellow::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.background__yellow::before {
  background-image: url('/videos/rightmovingblock.png');
  animation: parallax-yellow-1 0.3s linear infinite;
  background-size: 150%;
  background-position: right;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  z-index: 0;
  opacity: 0.8;
}

.background__yellow::after {
  background-image: url('/videos/bottommovingblock.png');
  animation: parallax-yellow-2 0.7s linear infinite;
  background-size: 275%;
  opacity: 0.8;
  background-position: bottom;

}

@keyframes parallax-yellow-1 {
  0% {
    transform: translateY(-4%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes parallax-yellow-2 {
  0% {
    transform: translate(1.5%);
  }
  100% {
    transform: translateX(.5%);
  }
}
