.message__1,
.message__2,
.message__3,
.message__4 {
  z-index: 1;
  position: absolute;
  bottom: 0;
  margin-bottom: 1.25em;
  padding: 0.625em 1.25em;
  border-radius: 1.25em;
  background-color: #fff;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.2);
  font-size: 1.3em;
  line-height: 1.5;
  max-width: 80%;
}

.message__1 {
  background-color: #e6f7ff;
  color: #1890ff;
  left: 20%;
  bottom: 87.5%;
}

.message__2 {
  background-color: #f6ffed;
  color: #52c41a;
  right: 20%;
  bottom: 87.5%;
}

.message__3 {
  background-color: #fffbe6;
  color: #faad14;
  left: 20%;
  bottom: 2%;
}

.message__4 {
  background-color: #ffe6e6;
  color: #f5222d;
  right: 20%;
  bottom: 2%;
}

