@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/Mark Simonson - Proxima Nova Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'proxima nova', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url('/videos/sunrise.png');
  background-size: auto;
  background-repeat: repeat-x;
  background-position: 0 0;
  animation: scrollBackground 10s linear infinite alternate;
}

@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.table-view {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.arena,
.duckie {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  height: min(100vh, 100vw);
  width: min(100vh, 100vw);
}

.hidden {
  display: none;
}

.countdown {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  font-size: min(40vh, 40vw);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(240, 240, 240, 0.7);
  text-shadow: 0 0 5px rgba(252, 0, 255, 0.7), 0 0 10px rgba(252, 0, 255, 0.7), 0 0 15px rgba(252, 0, 255, 0.7);
}



.timer {
  position: absolute;
  left: 50vw;
  transform: translateX(-58%);
  bottom: 0;
  margin: 0.2em;
  padding: 0.2em;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: min(5vh, 5vw);
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 8px;
}





